@using MyWebProject.Models.QueryResult;
@using MyWebProject.Models.Entity;
@{
    List<SnippetResult> list = Model as List<SnippetResult>;
}
<div style="border:1px solid rgba(128, 128, 128, 0.41);margin-left: -15px; margin-right: -15px;">
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="success">
                    <th>主标题</th>
                    <th>副标题</th>
                    <th>标签</th>
                    <th>正文</th>
                    <th>编辑</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SnippetResult s in list)
                {
                    <tr>
                        <td style="max-width:100px">@s.MAIN_TITLE</td>
                        <td style="max-width:100px">@s.SECOND_TITLE</td>
                        <td style="max-width:100px">
                            @foreach (TAG_INFO t in s.tag_info)
                            {
                                <a href="javascript:void(0)" onclick="searchPost('@t.TAG_NAME')"><span class="label label-primary">@t.TAG_NAME</span></a> }
                        </td>
                        <td style="max-width:300px">@s.POST_CONTENT</td>
                        <td style="max-width:100px">
                            <div class="btn-group">
                                <button class="btn btn-default">选项</button>
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)">修改</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">隐藏</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">新增</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">删除</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>}
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <div class="fixed-table-pagination">
            <div class="pull-left pagination-detail" style="font-size:small">
                <span class="pagination-info">显示</span>
                <span class="page-list">
                    <span class="btn-group-sm dropup">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="pageSize" class="page-size">@ViewData["pageSize"]</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="active"><a href="javascript:void(0)" onclick="modifyPageSize(10)">10</a></li>
                            <li><a href="javascript:void(0)" onclick="modifyPageSize(25)">25</a></li>
                            <li><a href="javascript:void(0)" onclick="modifyPageSize(50)">50</a></li>
                        </ul>
                    </span>行/页
                </span>
            </div>
            <div class="pull-right pagination" style="margin-top: 0px; margin-bottom: 0px;">
                <ul class="pagination-small" style="margin-top: 0px; margin-bottom: 0px;"></ul>
            </div>
        </div>
    </div>
</div>
<input style="visibility:collapse" id="saveStartPage" value="@ViewData["saveStartPage"]" />
<div class="row">
    <div style="visibility:hidden" id="UEedit">
    </div>
</div>

<!--百度富文本开始-->
<!-- 配置文件 -->
<script type="text/javascript" src="~/Content/js/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="~/Content/js/UEditor/ueditor.all.js"></script>
<!--百度富文本结束-->
<!-- 实例化编辑器 -->
<script type="text/javascript">
    function modifyPageSize(size) {
        $("#pageSize").html(size);
        getManagerDataGrid($("#saveStartPage").val());
    }
    function getManagerDataGrid(pageStart) {
        var menuId = $(".list-group-item.active").attr("id");
        var pageSize = $("#pageSize").html();
        pageSize = parseInt(pageSize) == 0 ? 10 : pageSize;
        pageStart = parseInt(pageStart) == 0 || parseInt(pageStart) < 0 ? 1 : pageStart;
        $.post("Management/Grid", {
            "pageSize": pageSize,
            "pageStartNum": pageStart,
            "menuId": menuId
        }, function (data) { $("#grid").html(data); setPagination(pageStart) });
    }
    function setPagination(pageStart) {
        if (isNullOrEmpty(pageStart) || pageStart < 1) {
            pageStart = 1;
        }
        //生成当前页码
        var html = '<li><a href="javascript:void(0)" onclick="getManagerDataGrid(' + parseInt(pageStart - 5) + ')"><<</a></li>';
        for (var i = 0; i < 5; i++) {
            html += '<li><a href="javascript:void(0)" onclick="getManagerDataGrid(' + (parseInt(pageStart) + parseInt(i)) + ')">' + (parseInt(pageStart) + i) + '</a></li>';
        }
        html += '<li><a href="javascript:void(0)" onclick="getManagerDataGrid(' + (parseInt(pageStart) + 5) + ')">>></a></li>';
        $('.pagination-small').html(html);
    }
    function load() {
        setPagination($("#saveStartPage").val());
        //需要配置ueditor.config.js中UE编辑器路径
        //var URL = window.UEDITOR_HOME_URL || getUEBasePath()||'./Content/js/UEditor/';
        UE.getEditor('UEedit');
    }
    load();
</script>
