@using MyWebProject.Models.QueryResult;
@using MyWebProject.Models.Entity;

@{
    List<SnippetResult> list = Model as List<SnippetResult>;
    foreach (SnippetResult s in list)
    {
        <h3>@s.TITLE</h3>
        <h4>@s.POST_ID</h4>
        <div class="row">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(s.POST_CONTENT));
        </div>
        <ul class="list-inline">
            <li>
                @foreach (TAG_INFO t in s.tag_info)
                {
                    <a href="javascript:void(0)" onclick="searchPost('@t.TAG_NAME')"><span class="label label-primary">@t.TAG_NAME</span></a> }
            </li>
            <li>
                <p>@s.DATE</p>
            </li>
            <li>
                <p>阅读次数:@s.VIEW_COUNT</p>
            </li>
            <li>
                <p>点赞次数:@s.PRAISE_COUNT</p>
            </li>
            <li>
                <p>转载次数:@s.REPRODUCED_COUNT</p>
            </li>
        </ul>
        <div class="w-btn">
            <a href="#" class="hvr-shutter-out-horizontal" onclick="getDetial('@s.POST_ID')">查看</a>
        </div>
    }
}

